[submodule "web-app/bootswatch"]
	path = web-app/bootswatch
	url = git@github.com:lyhcode/bootswatch.git
[submodule "web-app/jquery-fileupload"]
	path = web-app/jquery-fileupload
	url = git@github.com:blueimp/jQuery-File-Upload.git
[submodule "web-app/codemirror"]
	path = web-app/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "web-app/deckjs"]
	path = web-app/deckjs
	url = git@github.com:codecanaan/deck.js.git
[submodule "web-app/fancybox"]
	path = web-app/fancybox
	url = git://github.com/fancyapps/fancyBox.git
