/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
body {
  font-size: 11pt;
}

/* line 13, ../sass/screen.scss */
.logo-font {
  font-family: Allura, sans-serif;
  cursor: pointer;
}

/* line 18, ../sass/screen.scss */
.code-font {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 11pt;
}

/* line 23, ../sass/screen.scss */
.CodeMirror {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 11pt;
}

/* line 28, ../sass/screen.scss */
.CodeMirror-lines, .CodeMirror-gutter {
  font-family: 'Droid Sans Mono', monospace;
  line-height: 1.5em;
}

/* line 34, ../sass/screen.scss */
.test-report pre {
  font-family: 'Droid Sans Mono', monospace;
  border: 0;
  font-size: 10pt;
  padding: 0;
  margin: 0;
  background: none;
}
/* line 44, ../sass/screen.scss */
.test-report .test-error {
  background-color: #FF7777;
}
/* line 47, ../sass/screen.scss */
.test-report .test-hint {
  background-color: #77FF77;
}

/* line 52, ../sass/screen.scss */
.markdown-source {
  display: none;
}

/* line 56, ../sass/screen.scss */
h1, h2, h3, h4 {
  text-shadow: 0 0 1px transparent, #aaaaaa 1pt 1pt 2pt;
}

/* line 60, ../sass/screen.scss */
.justfont {
  text-rendering: optimizelegibility;
}
/* line 62, ../sass/screen.scss */
.justfont h1, .justfont h2, .justfont h3, .justfont h4, .justfont h5, .justfont h6 {
  font-weight: normal;
}
/* line 69, ../sass/screen.scss */
.justfont p, .justfont li {
  font-size: 13pt;
  line-height: 200%;
  letter-spacing: 1px;
}
/* line 74, ../sass/screen.scss */
.justfont pre {
  font-family: 'Droid Sans Mono', monospace;
}

/* line 79, ../sass/screen.scss */
footer {
  padding-top: 2em;
}
/* line 81, ../sass/screen.scss */
footer .nav, footer .copyright {
  font-size: 10pt;
}
/* line 84, ../sass/screen.scss */
footer .copyright {
  color: #555;
}
