/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "compass/css3";

body {
	font-size: 11pt;

	/* readability background */
	/* background-color: #f8f8f5; */
}

.logo-font {
	font-family: Allura, sans-serif;
	cursor: pointer;
	@include text-shadow(#999 1pt 1pt 2pt);
}

.code-font {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 11pt;
}

.CodeMirror {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 11pt;

}
.CodeMirror-lines, .CodeMirror-gutter {
	font-family: 'Droid Sans Mono', monospace;
	line-height: 1.5em;
}

.test-report {
	pre {
		font-family: 'Droid Sans Mono', monospace;
		border: 0;
		font-size: 10pt;
		padding: 0;
		margin: 0;
		background: none;
	}
	.test-ok {
	}
	.test-error {
		background-color: #FF7777;
	}
	.test-hint {
		background-color: #77FF77;
	}
}

.markdown-source {
	display: none;
}

h1, h2, h3, h4 {
	@include text-shadow(0 0 1px transparent, #aaa 1pt 1pt 2pt);
}

.carousel {
	h1, h2, h3, h4 {
		@include text-shadow(0 0 0 transparent);
	}
}

.justfont {
	text-rendering:optimizelegibility;
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	h1, h2, h3, h4 {
		//text-shadow: 0 0 1px transparent;
		//text-shadow: 0 0 0 #f00, 0 0 1px transparent;
	}
	p, li {
		font-size: 13pt;
		line-height: 200%;
		letter-spacing: 1px;
	}
	pre, code {
		font-size: 11pt;
		line-height: 150%;
		font-family: 'Droid Sans Mono', monospace;
	}
}

/* 投影用大字型 */
.justfont.larger-font {
	p, li {
		font-size: 18pt;
	}
	pre, code {
	    font-size: 16pt;
	}
}

.wmd-preview, .wmd-input {
    height: 300px;
}

footer {
	padding-top: 2em;
	.nav, .copyright {
		font-size: 10pt;
	}
	.copyright {
		color: #555;
	}
}

/* responsive object width */
img, iframe, video, embed, object {
    max-width: 100% !important;
	display: block;
}
